body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: flex;
    gap: 20px;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img{
    width: 100%;
    height: 100%;
    cursor: grab;
}