.coolCards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    height: 100vh;
}

.card-body {
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.skeleton {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}

.skeleton div {
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    animation: loading 1.2s infinite;
}
.skeleton-title {
    height: 20px;
    width: 70%;
}

.skeleton-text {
    height: 15px;
    width: 50%;
}

.skeleton-img{
    height:150px;
    background:#ddd;
    animation: loading 1.2s infinite;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform-origin:center;
}

.image{
    transition: opacity 0.6s ease;
}

.shrink{
    transform:scale(0);
    opacity:0;
}

@keyframes loading {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}